.slider {
    grid-column:span 12;
    width: 100vw;
    text-align: center;
    overflow: hidden;
    margin:2.5rem 0;
  }
  
  .slides {
    display: flex;
    overflow-x: auto;
    border-radius: 5px;
    scroll-behavior: smooth;
    margin:2.5rem 0;
    
    -webkit-overflow-scrolling: touch;
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
  }
  .slides::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    flex-shrink: 0;
    width: 30vw;
    height: 50vh;
    margin-right:1rem;
    border-radius: 10px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
  }
  .slides > div:target {
    transform: scale(0.8);
  }

  
  .slider > a {
    display: inline-flex;
    width: 3rem;
    height: 3rem;
    background: rgba(0,0,0,0.1);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;

  }
  .slider > a:active {
    
  }
  .slider > a:focus {
    background: #000;
  }


.nxt  {
  position:relative;
  bottom:33vh;
  left:45vw;
}

.prev  {
  position:relative;
  bottom:33vh;
  left:-45vw;
}

@media screen and (max-width: 425px) {

  .slides > div {
      width:100vw;
  }

  .prev, .nxt {
    display:none;
  }

}